# Python 3.10.12
numpy==2.2.6
pandas==2.3.3
scipy==1.15.3
matplotlib==3.10.8
PyWavelets==1.8.0
tqdm==4.67.1
scikit-learn==1.7.2

# PyTorch (CUDA 12.1)
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1